/*nav bar*/
body{
    top: 0;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: auto;
}

ul>li>a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: beige;
    display: inline-block;
}


ul>li>a:hover {background: #DB1D24;}

.btn-red{
    background-color: transparent;
    border-style: none;
    border-radius: 30px;
    padding: 15px 25px;

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: white;
}

.hero{
    /* width: 100%; */
    height: auto;
    overflow: auto;
    background-repeat: no-repeat;
}

.container-hero{
    justify-content: center;
    align-items: center;
    position: relative;
    background-image:url(ASSET/background-cropped.jpg);
    background-repeat:round;
    width: 100%;
    height: 1000%;
}

.logo-slidein{
  max-width: 1251px;
  height: 283px;
  background-image:url(ASSET/logo-snowman.png);
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  margin-left: 8%;
  margin-bottom: -8%;
}

@keyframes example {
    0%   {background-color:transparent; left:200px; top:0px;}
    25%  {background-color:transparent; left:0px; top:0px;}
  }

header>img{
    transform: scale(100%);
    justify-content: center;
    position: relative;
}

header>h1{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 350;
    font-style: normal;
    font-size: 40px;
    color: white;
    padding-top: 3%;
    padding-left: 10%;
    padding-bottom: -10%
}

header>p{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: white;
    padding-left: 10%;
    padding-top: 0%;
}

.cta{
    max-width: 100%;
    padding-left: 10%;
}

.hero-pad{
    padding-top:10%;
}

.visit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;

    max-width: 100vh;
    background-color: white;
    border-radius: 50px;
}

.visit>h2 {
    margin-left: 5%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: black;
    margin: 22px;

}
.getintouch {
    max-width: 300px;
    background-color: black;
    border-radius: 40px;
    width: 250px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    transition: 0.3s ease;
}

.getintouch:hover{
    background-color: red;
    transition: 0.3s ease;
}

.getintouch>h2{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: white;
    margin: 22px;
}

/*about us*/
.aboutus {
    max-width: 100%;
}

.bggrey{
    position: static;
    background-color: #D7DAE0;
}

.abouttext>h1 {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: black;
    padding-top: 150px;
}

.abouttext>p {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: black;
    margin-bottom: 80px;
    margin-top: 30px;
}

.buttonabout {
    max-width: 100vh;
    display: grid;
    justify-content: start;
}
.buttonabout>button{
    background-color: #DB1D24;
    border-style: none;
    border-radius: 50px;
    padding: 20px 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: white;
    margin-bottom: 80px;
    margin-top: -40px;

}

.buttonabout>button:hover {
    background-color: #1e1e1e;
    border-style: none;
    border-radius: 50px;
    padding: 20px 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: white;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInText {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.container {
    justify-content: center;
    align-items: center;
    position: relative;
    display: block;
}

.aboutslide-in{
    background-image:url(ASSET/about-us.png);
    padding: 20px;
    height: 800px;
    background-repeat:round;
    /* position: inherit; */
    z-index: -2;
}

.container:hover .aboutslide-in {
    animation: slideIn 0.5s forwards;
}

.abouttext {
    margin-left: 60%;
    position:absolute;
    z-index: 1;
}

.container:hover .abouttext {
    animation: slideInText 0.5s forwards;
}

/* ourplacenew */

.ourplace {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15%;
}

.ourplacetext{
    max-width: 30%;
    display: inline-block;
    vertical-align: middle;
    margin-left: -5%;
}

.ourplacetext>h1 {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: black;
    margin-bottom: -20%;
}

.ourplacetext>p {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: black;
    margin-bottom: 80px;
    margin-top: 80px;
}

.ourplacebutton {
    max-width: 100vh;
    display: grid;
    justify-content: start;
}
.ourplacebutton>button{
    background-color: #DB1D24;
    border-style: none;
    border-radius: 50px;
    padding: 20px 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: white;
    margin-top: -20%;

}

.ourplacebutton>button:hover {
    background-color: #1e1e1e;
    border-style: none;
    border-radius: 50px;
    padding: 20px 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: white;
}

.ourplacepen1{
    max-width:30%;
    max-height: 30%;
    display: inline-block;
    vertical-align: middle;
    margin-left: -5%;
    margin-top: 15%;
}
.ourplacepen2{
    max-width: 25%;
    max-height: 25%;
    display: inline-block;
    vertical-align: middle;
    margin-left: -20%;
    margin-top: -10%;
}
.ourplacehouse{
    display: inline-block;
    vertical-align: middle;
    max-width: 55%;
    max-height: 55%;
    margin-bottom:-10%;
    margin-left: -6%;
}

/* op1 */
@keyframes bounceOp1 {
   40% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-75px);
    }
    /* 60% {
        transform: translateY(-75px);
    } */
}

.bouncing {
    animation: bounceOp1 2s infinite;
}

/*op2*/

@keyframes bounceOp2 {
    20%{
        transform: translateY(0);
    }
    80% {
        transform: translateY(-75px);
    }
}

.bouncing2 {
    animation: bounceOp2 2s infinite;
}

/*op3*/
@keyframes bounceRumah {
    40%{
        transform: translateY(0);
    }
    80% {
        transform: translateY(-75px);
    }
}

.bouncingRumah {
    animation: bounceRumah 5s infinite;
}

.product-tit>h1{
    padding: 5%;
    text-align: center;
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white;
    background-color: #1E1E1E;
}

.bdy{
    color: white;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 44px;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -10%;
    background-color: #1E1E1E;
}

.product-card {
    width: 400px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
    position: relative;
    margin: 30px;
}

.product-image-container {
    position: relative;
    overflow: hidden;
    background-color: white;
    
}

.product-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s;
}

.product-card:hover .product-image {
    transform: scale(1.3);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #db1d23db;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card:hover .overlay {
    transform: translateY(0);
    background-color: rgba(255, 255, 255, 0.1);
}

.product-title {
    color: white;
    font-size: 1.5em;
    text-align: center;
    transition: transform 0.3s;
    position: relative;
    top: -250px;
}

.main-product-card:hover .product-title{
    transform: translateY(250px);
}

.product-card:hover .product-title {
    transform: translateY(250px);
}

.product-details {
    padding: 1px;
} 

.main-card {
    width: 500px;
}

.ftr-body {
    color: white;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 44px;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -10%;
    background-color: #1E1E1E;
}

footer {
    background-color: white;
    color: black;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.footer-logo{
    margin-left: -15%;
    padding: 3%;
    width: 50%;
    height: 50%;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 15px;
    color: #1E1E1E;
    font-size: 13px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
    text-align: left;
}

.footer-column h3 {
    margin-top: 0;
    color: #1E1E1E;
    font-size: 16px;
    font-family: Poppins;
    text-transform: uppercase;
    line-height: 25px;
    word-wrap: break-word
}

.logo {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        text-align: center;
    }
}